<footer>
     <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i><!--these are all the icons of the social media platforms-->
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
        </div>
        <div class="f-info-brand">&copy; Wanderlust Private Limited</div> <!--we added copyright symbol at start-->
        <div class="f-info-links">
            <a href="/privacy">Privacy</a> <!--we metin privacy and terms in these links-->
            <a href="/terms">Terms</a>
        </div>
     </div>
</footer>